<form class="enter-form form-inline">
  <p style="font-size: 26pt">Crowd Sourced Products</p>
  <p align="middle">Your stuff, your sales</p>
  <span id="glyph" class="glyphicon glyphicon-send"></span>
  {{input placeholder="What're you selling?" maxlength="24" value=product-name id="product-name"}}
  <button class="btn btn-success btn-lg">Submit</button>
</form>
