<div class="row feature-container">
  <div class="col-xs-3 col-xs-offset-2 feature-text">
    <h3>Great Prices</h3>
    <p>See all items available!</p>
    {{#link-to 'browse'}}
    <button class="btn-lg btn-danger">Explore Inventory</button>
    {{/link-to}}
  </div>

  <div class="col-xs-3 col-xs-offset-2">
    <img class="feature-text" src="https://www.tailorbrands.com/wp-content/uploads/2016/05/m8JbmoC7LgluD5AAknABAf5Bww7bsc1VCozpzCgDABiLApKEER3nSCgDAFt3OZ8p3OWpcZkEBANhAHoMTIsCsI5eYTZZwArPMF88UOkePxgzmAAAAAElFTkSuQmCC-300x192.png">
  </div>
</div>
