<div class="row feature-container feature-two">
  <div class="col-xs-3 col-xs-offset-2">
    <img class="feature-text" src="https://www.tailorbrands.com/wp-content/uploads/2016/05/rPs5tNEAAAAAElFTkSuQmCC.png">
  </div>

  <div class="col-xs-3 col-xs-offset-2 feature-text">
    <h3>Great Prices</h3>
    <p>Sell your stuff for top dollar!</p>
    <button class="btn-lg btn-danger">How It Works</button>
  </div>
</div>
