<div class="row feature-container feature-two">
  <div class="col-xs-3 col-xs-offset-2">
    <img class="feature-text" src="https://www.tailorbrands.com/wp-content/uploads/2016/05/rPs5tNEAAAAAElFTkSuQmCC.png">
  </div>

  <div class="col-xs-3 col-xs-offset-2 feature-text">
    <h3>Great Feedback</h3>
    <p>Check out our highest-rated items!</p>
    {{#link-to 'all-feedback'}}
    <button class="btn-lg btn-danger">See our Best</button>
    {{/link-to}}
  </div>
</div>
