<div class="row footer">
  <div class="col-xs-2 links-first">
    <p><a href="#">Example</a></p>
    <p><a href="#">Example</a></p>
    <p><a href="#">Example</a></p>
  </div>
  <div class="col-xs-2 links">
    <p><a href="#">Example</a></p>
    <p><a href="#">Example</a></p>
    <p><a href="#">Example</a></p>
  </div>
  <div class="col-xs-2 links">
    <p><a href="#">Example</a></p>
    <p><a href="#">Example</a></p>
    <p><a href="#">Example</a></p>
  </div>
  <div class="col-xs-2 links-glyphs">
    <span class="glyph glyphicon glyphicon-globe"></span>
    <span class="glyph glyphicon glyphicon-print"></span>
    <span class="glyph glyphicon glyphicon-tint"></span>
    <span class="glyph glyphicon glyphicon-envelope"></span>
  </div>
</div>
