<nav class="navbar navbar-inverse" id="header-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index'}}
      <a class="navbar-brand"><img id="brand-img" alt="Brand" src="//www.tailorbrands.com/wp-content/uploads/2016/07/logo_banner-1.png"></a>
      {{/link-to}}
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <a><span type="button" data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-shopping-cart">{{cart-total}}</span></a></li>
        <li><a href="#">Sign In</a></li>

      </ul>
    </div>
  </div>
</nav>
{{products-modal}}
