<br><br><br><br><br><br>
<div align=middle>
<h1>Items for Sale</h1>
<button {{action 'setAdmin'}}>Set to Admin Mode</button>
</div>
<div class="container">
  <div class="browse" align="center">
      {{#each model as |product|}}
      {{product-tile product=product isAdmin=isAdmin createFeedback='createFeedback'}}
      {{/each}}
  </div>
</div>
